<!-- <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label for="titulo">Input</mat-label>
      <input id="titulo" matInput formControlName="titulo" >
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input id="date" matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  <br>
    <button type="submit" [disabled]="!taskForm.valid">Submit</button>
  </form>
  
   -->


    <mat-form-field appearance="fill">
      <mat-label>Titulo</mat-label>
      <input matInput placeholder="Ex.Titulo de la tarea" [formControl]="titulo" required>
      <mat-error *ngIf="titulo.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
