* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: hidden;
}

.grid-container {
  display: grid;
  margin: 10rem 50rem;
  padding: 2rem;
  border-radius: 30px;
  background-color: #FCDDB0;
  box-shadow:
    inset 0 -5em 5em rgba(0, 0, 0, 0.1),
    0 0 0 3px rgb(255, 255, 255),
    1em 1em 1em rgba(0, 0, 0, 0.3);

}
