.grid-container {
  display: inline-grid;
  margin: 6rem;
  padding: 20px;
  border-radius: 30px;
  background-color: #FCDDB0;
  box-shadow:
    inset 0 -5em 5em rgba(0, 0, 0, 0.1),
    0 0 0 3px rgb(255, 255, 255),
    1em 1em 1em rgba(0, 0, 0, 0.3);

}

.todo {
  background-color:  #FFFAD7;
  border-radius: 20px;
  margin-top: 15px;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  cursor: pointer;
}

.lista {
  text-align: center;
  font-size: 25px;
}
