.todo {
  background-color:  #FFFAD7;
  border-radius: 20px;
  font-family: cursive;
}

.img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 55px;
  width: 550px;
}

.fecha_img {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.img_usuario {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

.centrar {
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.orange {
  background-color: orange;
  border-radius: 100px;
  padding: 6px;
}

.red {
  background-color: #FF9F9F;
  border-radius: 100px;
  padding: 6px;
}

.green {
  background-color: #B6E2A1;
  border-radius: 100px;
  padding: 6px;
}

.grey {
  background-color: grey;
  border-radius: 100px;
  padding: 6px;
}
